body {
  background: #fff;
  font-family: roboto-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444441;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
/*grid*/

.grid_container {
  display: block;
  grid-template-areas:
    "header"
    "introduction"
    "accordion"
    "footer";
}

/*header*/
.header {
  grid-area: header;
  background-color: darkmagenta;
  width: 100vw;
  position: fixed;
}
.clear_header {
  display: none;
}

/*introduction*/
.introduction_container {
  grid-area: introduction;
  background-color: yellow;
  padding-top: 40px;
}

/*accordion*/
.accordion_container {
  grid-area: accordion;
  background-color: green;
}
.accordion {
  background-color: #5cb71d;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: roboto-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.active,
.accordion:hover {
  background-color: #5cb71d;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  height: 100%;
  transition: max-height 0.2s ease-out;
}
/*menu*/
.replacement_menu {
  grid-area: menu;
  display: none;
}

/*footer*/
.footer {
  grid-area: footer;
  background-color: pink;
}

/*tablet size and desktop*/
@media screen and (min-width: 768px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "clearheader clearheader clearheader header"
      "menu introduction introduction header"
      "menu accordion accordion header"
      "footer footer footer header";
  }
  /* header*/
  .clear_header {
    grid-area: clearheader;
    display: block;
    background-color: hotpink;
    position: fixed;
    width: 100%;
  }
  .header {
    width: 80px;
    z-index: 99;
    position: relative;
  }
  .header h2 {
    position: fixed;
  }
  /*menu*/
  .replacement_menu {
    grid-area: menu;
    display: block;
    position: fixed;
    padding-top: 10%;
  }
  /*introduction*/
  .introduction_container {
    grid-area: introduction;
    background-color: yellow;
    margin-top: 15%;
    padding-top: 0;
  }
  /*accordion*/
  .accordion_container {
    grid-area: accordion;
    background-color: white;
  }
  .accordion {
    background-color: #5cb71d;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: roboto-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .active,
  .accordion:hover {
    background-color: #5cb71d;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 90vh;
    height: 90vh;
    overflow: visible;
    transition: max-height 0.2s ease-out;
  }
}
