body {
  background: #fff;
  font-family: roboto-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444441;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
/*grid*/

.grid_container {
  display: block;
  grid-template-areas:
    "header"
    "introduction"
    "accordion"
    "footer";
}

/*header*/
.header {
  grid-area: header;
  background-color: #313331;
  width: 100vw;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  display: block;
  max-height: 10vh;
  margin: 1%;
  padding: 2px;
}
.clear_header {
  display: none;
}

/*Pernilles kode*/

/*navbar*/
nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #313331;
  padding-top: 12px;
  transition: 0.4s;
}

nav.is-active {
  left: 0;
}

nav a {
  display: block;
  margin: 0 0px 16px;
  text-align: left;
  padding: 12px 16px;
  background-color: #313331;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: 20px;
  font-family: roboto-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sprog {
  display: flex;
  margin-bottom: 5%;
  margin-top: 2%;
}

.sprog a:hover {
  color: #5cb71d;
  background-color: #313331;
  width: auto;
}

nav a:hover {
  background-color: #2b2b2b;
  width: 100vw;
}

.hamburger {
  position: relative;
  width: 42px;
  margin-right: 16px;
  cursor: pointer;
  height: 42px;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 99;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-17px, 2px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-14px, 2px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn:hover {
  background-color: #2b2b2b;
  width: 100vw;
}

.dropdown .dropbtn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #313331;

  margin: 0 0px 16px;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: 20px;
  font-family: roboto-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #2b2b2b;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #fff;
  padding: 12px 16px;
  margin-top: 20px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #2b2b2b;
  width: 100vw;
  font-family: roboto-condensed, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.dropbtn i {
}

.show {
  display: block;
}

/*Pernilles kode slut*/


/*introduction*/
.introduction_container {
  grid-area: introduction;
  background-color: yellow;
  padding-top: 40px;
  display: block;
}

/*accordion*/
.accordion_container {
  grid-area: accordion;
  background-color: green;
}
.accordion {
  background-color: #5cb71d;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: roboto-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.active,
.accordion:hover {
  background-color: #5cb71d;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  height: 100%;
  transition: max-height 0.2s ease-out;
}
#section0 {
  display: none;
}
/*menu*/
.navbar {
  grid-area: menu;
  display: none;
}
/* Søjlediagram start*/
.bar-graph .year {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
}

.bar-graph-vertical {
  margin-top: 90px;
  max-width: 100%;
}

.bar-graph-vertical .bar-container {
  float: left;
  height: 250px;
  margin-left: 8%;
  position: relative;
  width: 10vw;
  max-width: 100vw;
  z-index: 1;
}

.bar-graph-vertical .soejle {
  border-radius: 100px / 50px;
  bottom: 50px;
  position: absolute;
  width: 60px;
  justify-content: center;
  z-index: 2;
}

.oval {
  width: 60px;
  height: 30px;
  background: #46821c;
  border-radius: 100px / 50px;
  position: relative;
  z-index: 2;
}

.bar-graph-vertical .year {
  bottom: 0;
  margin-left: -53px;
  padding: 2px;
  position: absolute;
  justify-content: space-between;
  text-align: center;
  width: 160px;
}

.bar-graph-two .soejle::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-weight: 400;
  font-style: italic;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 24px;
  padding-top: 40%;
}

.bar-graph-two .bar-one .soejle {
  background-color: #5cb71d;
  -webkit-animation: show-bar-one-vertical 1.2s 0.1s forwards;
  -moz-animation: show-bar-one-vertical 1.2s 0.1s forwards;
  animation: show-bar-one-vertical 1.2s 0.1s forwards;
}

.bar-graph-two .bar-two .soejle {
  background-color: #5cb71d;
  -webkit-animation: show-bar-two-vertical 1.2s 0.2s forwards;
  -moz-animation: show-bar-two-vertical 1.2s 0.2s forwards;
  animation: show-bar-two-vertical 1.2s 0.2s forwards;
}

.bar-graph-two .bar-three .soejle {
  background-color: #5cb71d;
  -webkit-animation: show-bar-three-vertical 1.2s 0.3s forwards;
  -moz-animation: show-bar-three-vertical 1.2s 0.3s forwards;
  animation: show-bar-three-vertical 1.2s 0.3s forwards;
}

.bar-graph-two .bar-four .soejle {
  background-color: #5cb71d;
  -webkit-animation: show-bar-four-vertical 1.2s 0.4s forwards;
  -moz-animation: show-bar-four-vertical 1.2s 0.4s forwards;
  animation: show-bar-four-vertical 1.2s 0.4s forwards;
}

/* Søjlediagram Animation */
@-webkit-keyframes show-bar-one-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 60%;
  }
}

@-webkit-keyframes show-bar-two-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 75%;
  }
}

@-webkit-keyframes show-bar-three-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 85%;
  }
}

@-webkit-keyframes show-bar-four-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 95%;
  }
}

@-webkit-keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*søjlediagram slut*/

/* Kontaktformular patricks kode */

.wrapper {
  grid-area: accordion;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
}

.wrapper h2 {
  font-family: roboto-condensed, sans-serif;
  color: #5cb71d;
}

.wrapper .input_field input[type="text"],
.wrapper textarea {
  border: solid #515f6d 2px;
  padding: 15px 0 15px 15px;
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
  font-family: roboto-condensed, sans-serif;
}

.wrapper textarea {
  border: solid #515f6d 2px;
  padding: 15px 0 15px 15px;
  margin-top: 10px;
  font-size: 14px;
  height: 150px;
  width: 100%;
  font-family: roboto-condensed, sans-serif;
}

.wrapper #error_message {
  margin-bottom: 20px;
  padding: 0px;
  background: #d36d75;
  color: black;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
  font-family: roboto-condensed, sans-serif;
}

.wrapper .btn input[type="submit"] {
  border: 0;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #5cb71d;
  font-weight: bold;
  cursor: pointer;
  font-family: roboto-condensed, sans-serif;
}

/*Kontaktformular slut*/

/*footer*/
.footer {
  grid-area: footer;
  background-color: pink;
}

/*tablet size and desktop*/
@media screen and (min-width: 768px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "clearheader clearheader clearheader header"
      "menu accordion accordion header"
      "footer footer footer header";
  }
  /*body*/
  body {
    margin-right: 80px;
  }
  /* header*/
  .clear_header {
    grid-area: clearheader;
    display: block;
    background-color: hotpink;
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .clear_header img {
    max-height: 10vh;
    margin: 1%;
  }

  .header {
    grid-area: header;
    width: 80px;
    z-index: 99;
    position: fixed;
    background-color: #5cb71d;
    height: 100%;
    right: 0;
    padding-top: 3vh;
    align-items: flex-start;
  }
  .header h2 {
    position: fixed;
  }
  .header img {
    display: none;
  }

  /*Pernilles kode*/

  nav {
    width: 45%;
  }

  nav a {
    font-size: 30px;
    margin: 0 0px 40px;
  }

  .sprog a {
    font-size: 20px;
    margin-top: -12px;
  }

  nav.is-active {
    left: 55%;
  }

  .hamburger {
    width: 42px;
    margin-left: 25%;
    margin-top: 17%;
  }

  .dropdown .dropbtn {
    font-size: 30px;
    margin-bottom: 40px;
  }

  /*Pernilles kode slut*/

  #section0 {
    display: block;
  }

  /*menu desktop  Steffens kode*/
  .navbar {
    grid-area: menu;
    display: block;
    position: fixed;
    padding-top: 10%;
  }
  .navbar_link {
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
    font-weight: 300;
  }
  .navbar li {
    margin-bottom: 30px;
    list-style-type: none;
  }
  .navbar_link_active {
    color: #5cb71d;
  }
  .main_content {
  }

  .navbar_item a:hover {
    color: #5cb71d;
  }

  /*introduction*/
  .introduction_container {
    display: none;
  }
  /*accordion*/
  .accordion_container {
    grid-area: accordion;
    background-color: white;
    margin-top: 15vh;
  }
  .accordion {
    background-color: #fff;
    color: #707070;
    cursor: unset;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: roboto-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .active,
  .accordion:hover {
    background-color: #fff;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 90vh;
    height: 90vh;
    overflow: visible;
    transition: max-height 0.2s ease-out;
  }
  .wrapper {
    grid-area: accordion;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
  }
  /* Søjlediagram start*/
  .bar-graph .year {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
  }

  .bar-graph-vertical {
    margin-top: 90px;
    max-width: 100%;
  }

  .bar-graph-vertical .bar-container {
    float: left;
    height: 250px;
    margin-left: 8%;
    position: relative;
    width: 10vw;
    max-width: 100vw;
    z-index: 1;
  }

  .bar-graph-vertical .soejle {
    border-radius: 100px / 50px;
    bottom: 50px;
    position: absolute;
    width: 80px;
    justify-content: center;
    z-index: 2;
  }

  .oval {
    width: 80px;
    height: 40px;
    background: #46821c;
    border-radius: 100px / 50px;
    position: relative;
    z-index: 2;
  }

  .bar-graph-vertical .year {
    bottom: 0;
    margin-left: -163px;
    padding: 2px;
    position: absolute;
    justify-content: space-around;
    text-align: center;
    min-width: 400px;
  }

  .bar-graph-two .soejle::after {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
    color: #fff;
    content: attr(data-percentage);
    font-weight: 400;
    font-style: italic;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 24px;
    padding-top: 40%;
  }

  .bar-graph-two .bar-one .soejle {
    background-color: #5cb71d;
    -webkit-animation: show-bar-one-vertical 1.2s 0.1s forwards;
    -moz-animation: show-bar-one-vertical 1.2s 0.1s forwards;
    animation: show-bar-one-vertical 1.2s 0.1s forwards;
  }

  .bar-graph-two .bar-two .soejle {
    background-color: #5cb71d;
    -webkit-animation: show-bar-two-vertical 1.2s 0.2s forwards;
    -moz-animation: show-bar-two-vertical 1.2s 0.2s forwards;
    animation: show-bar-two-vertical 1.2s 0.2s forwards;
  }

  .bar-graph-two .bar-three .soejle {
    background-color: #5cb71d;
    -webkit-animation: show-bar-three-vertical 1.2s 0.3s forwards;
    -moz-animation: show-bar-three-vertical 1.2s 0.3s forwards;
    animation: show-bar-three-vertical 1.2s 0.3s forwards;
  }

  .bar-graph-two .bar-four .soejle {
    background-color: #5cb71d;
    -webkit-animation: show-bar-four-vertical 1.2s 0.4s forwards;
    -moz-animation: show-bar-four-vertical 1.2s 0.4s forwards;
    animation: show-bar-four-vertical 1.2s 0.4s forwards;
  }

  /* Søjlediagram Animation */
  @-webkit-keyframes show-bar-one-vertical {
    0% {
      height: 0;
    }
    100% {
      height: 60%;
    }
  }

  @-webkit-keyframes show-bar-two-vertical {
    0% {
      height: 0;
    }
    100% {
      height: 75%;
    }
  }

  @-webkit-keyframes show-bar-three-vertical {
    0% {
      height: 0;
    }
    100% {
      height: 85%;
    }
  }

  @-webkit-keyframes show-bar-four-vertical {
    0% {
      height: 0;
    }
    100% {
      height: 95%;
    }
  }

  @-webkit-keyframes fade-in-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /*søjlediagram end*/
  .footer {
    grid-area: footer;
  }
}
